#header{
    background:#00cdcd;
    height:60px;
    overflow:hidden;
    position:relative;
    width:100%;
    z-index:999;
    left:0px;
    top:0;
    width:100%
}
.search_open{
    background-color:#00cdcd;
}

.login_submit{
    height:40px;
    display:block;
    line-height:40px;
    background:#00cdcd;
    color:#fff;
    text-align:center;
    border:none;
    width:100%;
    -webkit-appearance:none;
    -o-border-radius:0;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0
}
