<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" class="loading">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=0.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />

	<title>haha</title>
	<style type="text/css">
		.myPicture{
			text-align: center;
		}
        body{margin: 0;padding: 0}
        img{width: 86%;height: auto;}
	</style>
</head>
<body>
<div id="header" class="head">
	<div class="wrap">
		<i class="menu_back"><a ></a></i>
		<div class="title">
			<span class="title_d"><p id="title">loading..</p></span>
			<div class="clear"></div>
		</div>
		<!--<i class="menu_share"></i>-->
	</div>
</div>
<div id="container">
	<div id="content">
		<div style="height:1px"></div>
		<div id="works">
			<div class="pd5">
				<div class="list_info_i" style="margin-top:5px;">
					<dl class="list_info_views">
						<dt></dt>
						<dd>
							浏览次数：<span id="lookCount">0</span>
						</dd>
						<div class="clear"></div>
					</dl>
					<dl class="list_info_comment">
						<dt></dt>
						<dd>
							预加载数据大小：<span id="dataCount">0</span>
						</dd>
						<div class="clear"></div>
					</dl>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div class="myPicture" id="myPicture">
					本来是方便自己看

					然后就撒狗粮了

					页面细节方面多有不足还请广提意见
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<script language="javascript" src="js/jquery.min.js"></script>
<script language="javascript" src="js/jquery.cookie.js"></script>
<script language="javascript" src="js/zepto.min.js"></script>
<script language="javascript" src="js/fx.js"></script>
<script language="javascript" src="js/script.js"></script>

<script type="text/javascript">
	/**
	 * url 获取参数
	 */
	function getQueryString(name) {
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
		var r = window.location.search.substr(1).match(reg);
		if(r!=null)return  unescape(r[2]); return null;
	}
	var pictureGroupId = getQueryString("pictureGroupId");
	var token = $.cookie('Authorization');

	if(token == "" || token ==null || token == undefined){
		alert("登陆过期，请重新登陆！");
		document.location.href = "marry";
	}

	/**
	 * 获取 pictureGroup 实体
	 */
	$.ajax({
		headers:{
			"Authorization":token
		},
		url: "getPictureGroupByGroupId",
		type: "get",
		data: {"pictureGroupId":pictureGroupId},
		dataType: "json",
		async:false, //同步
		success: function (data) {
			if(data.status == 200){
				// 填充标题、浏览量、预加载数据大小
				var pictureGroup = data.data;
				$("#title").html(pictureGroup.pictureGroupName);
				$("#lookCount").html(pictureGroup.pictureGroupLookCount);
				$("#dataCount").html(pictureGroup.pictureGroupCount);
			}else{
				alert(data.message);
			}
		}
	});
</script>
</body>
</html>